<style>
        body {
            font-family: Arial, sans-serif;
            color: #333333;
            line-height: 1.6;
        }

        .container {
            background-color: #f9f9f9;
            padding: 20px;
            margin: 10px 0;
            border: 1px solid #dddddd;
        }

        span {
            display: block; /* Faz cada span aparecer em uma nova linha */
            margin: 10px 0;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        strong {
            display: block;
            color: #007bff;
            margin-top: 20px;
        }

        h3 {
            color: #333333;
            border-top: 1px solid #dddddd;
            padding-top: 10px;
        }
    </style>

<div class='container'>
    <span>Oi, {{name}}!</span>

    <br />
    <br />

    <span>Você solicitou alteração de senha.</span>

    <br />
    <br />

    <span>Para realizar a troca, clique no link abaixo:</span>

    <br />
    <br />

    <span>
        <a href={{link}}>{{link}}</a>
    </span>

    <br />
    <br />


    <span>Caso não tenha sido você que tenha solicitado a alteração desconsidere
        este e-mail.</span>

    <br />
    <br />


    <strong>Obrigado!</strong>

    <br />
    <br />

    <h3>Equipe | <strong>Sermed</strong></h3>
</div>