<style>
        body {
            font-family: Arial, sans-serif;
            color: #333333;
            line-height: 1.6;
        }

        div {
            background-color: #f9f9f9;
            padding: 20px;
            margin: 10px 0;
            border: 1px solid #dddddd;
        }

        p {
            margin: 10px 0;
        }

        strong {
            color: #007bff;
        }

        h3 {
            color: #333333;
            border-top: 1px solid #dddddd;
            padding-top: 10px;
        }
    </style>

<div>
  <p>Olá <strong>{{name}}</strong> </p>

  <br />

  <p>Seja bem vindo ao <strong> Gestão de Ponto </strong>!</p>

  <br />

  <p>Sua senha temporária deverá ser alterada no primeiro Login.</p>
  <p>Para acessar o sistema, utilize os seguintes dados:</p>

  <br />

  <p><strong>Usuário:</strong> {{email}}</p>
  <p><strong>Senha:</strong> {{password}}</p>

  <br />

  <p>Clique no Link abaixo para ser redirecinado para o App.</p>

  <br />

  <p>{{link}}</p>

  <h3>Equipe | <strong>Sermed</strong></h3>
</div>